/* 
https://reactflow.dev/learn
React Flow's own styles
*/
@import 'reactflow/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
